// colors
$dark-grey: #333;
$nav-grey: #555;
$grey: #ccc;
$light-grey: #eee;

$blue: #0079c1;
$light-blue: #00a8df;
$dark-blue: #0056B7;

$yellow: #ffc500;
$red: #e3002a;
$green: #00b03f;
$purple: #675AC6;
$magenta: #C700A0;
$orange: #F35B0F;
$turquoise: #009BA5;

$white: #fff;
$black: #000;
$grey-b20: mix($grey, $black, 80%);
