#app {
  height: 100vh;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 20px;
  .app-header {

  }
  .app-container {
    height: 100%;
    .page {
      height: calc(100% - 16px);
    }
  }
}

